spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/money?characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true
    username: root
    password: root

  application:
    name: 03service
  dubbo:
    server: true
    registry: zookeeper://192.168.232.129:2181
  redis:
    database: 11
    password: 123456
    host: 192.168.232.129
server:
  port: 8091
  servlet:
    context-path: /service
